html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  font-size: 14px;
}

html {
  box-sizing: border-box;
  padding: 2vh 0;
  width: 100vw;
  height: 100vh;
  background-color: snow;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 70vw;
  max-width: 700px;
  margin: 0 auto;
  padding: 5vh 5vw;
  background-color: white;
}

h1,
h2 {
  font-family: -apple-systemheadline, BlinkMacSystemFont, Helvetica, sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

h2 {
  font-size: 18px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, calc(-50% - 5vw)); /* y pos is intentionally based on width */
  padding: 0 6vmin;
  padding-top: 4vmin;
  padding-bottom: 3vmin;
  background-color: white;
  box-shadow: 0 2px 8px 1px black;

  h1 {
    font-size: 25px;
  }
}

#modal-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.7;
  display: none;
}

body[pre-auth] {
  #modal-overlay,
  .modal {
    display: block;
  }
}

section {
  margin: 30px 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.aside {
  color: gray;
  display: block;
  font-size: 0.8em;
}

#api-creds {
  display: block;
  font-family: monospace;
  margin: 15px 0 10px 0;
}

.error {
  color: red;
  display: none;
  font-size: 0.9em;

  &.visible {
    display: block;
  }
}

input [type="submit"] {
  font-size: 14px;
  margin: 10px 0 5px 0;
  display: block;
}
